.jumbotron.banner {
  background: url(../img/cmc-austin-dawn.jpg) no-repeat center;
  background-size: cover;
  color: white;
  padding-top: 12rem
}

.jumbotron {
  margin-bottom: 30px;
  font-family: 'Architects Daughter', cursive;
  font-size: xx-large;
}
